.Input { 
  border: 1px solid black;  
  border-radius: 5px;
}

.Control { 
  position: fixed;
  bottom: 0; 
  left: 0; 
  width: 100%; 
  background-color: black;
  border: 1px solid black; 
  display: flex; 
  justify-content: center;
  height: 50px; 
}

.Media { 
  height: 800px;
  display: flex;
  flex-wrap: wrap;
}

.Media div { 
  flex: 1 1 0;
}

.Media audio { 
  flex: 0;  
}

.Media video { 
  width: 100%; 
  object-fit: cover;
}


/* 
.Container {
  height: 300px; 
  border: 1px solid black;
  display: flex;
}

.Container div { 
  border: 1px solid red; 
  flex: 1 1 0; 
} */